html{
  height: 100%;
}

body {
  margin: 0px;
  height: 100%;
}

h1{
  font-size: 16px;
}

h2{
  font-size: 12px;
  color: #686868;
}

header {
  display: flex;
  align-items: center;
  height: 54px;
  background-color: #1f2834;
}

.symbol {
  display: flex;
  align-items: center;
  margin-left: 24px;
  width: 134px;
  height: 36px;
  line-height: 36px;
}

.symbol > i {
  display: inline-block;
  color: white;
}

.symbol > h1 {
  margin: 0px 10px;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: white;
}

.navbar{
  margin-left: auto;
  margin-right: 24px;
}

.navbar-list{
  display: flex;
  align-items: center;
  color : #3fd28b;
  font-size: 14px;
}

.navbar-list ul{
  margin: 0px 0px 0px 32px;
  padding: 0px;
}

ul .count{
  position: relative;
  background-color: #2a7ff3;
  left: 15px;
  bottom: 25px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  text-align: center;
  color: white;
}

main {
  border-top: 2px solid #3ac7ec;
  height: calc(100% - 128px);
  background-color: #eeeeee;
}

.login {
  margin: auto;
  margin-top: 50px;
  width: 488px;
  height: 574px;
  background-color: #ffffff;
  border-top: 5px solid #3ac7ec;
}

.login-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.login-img {
  display: inline-block;
  margin-left: 32px;
  margin-right: 77px;
}

.login-text {
  display: inline;
}

.login-text > h1 {
  margin: 0px;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  color: #222222;
}

.form {
  margin: 34px 32px 0px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.ischool {
  margin-left: 32px;
}

.selectors {
  margin-top: 25px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selector-label {
  font-size: 12px;
  color: #666666;
}

.selectors select {
  width: 424px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.inputs {
  margin-top: 56px;
  height: 129px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inputs input {
  width: 424px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.inputs .forgot {
  float: right;
  margin-top: 5px;
  font-size: 14px;
  color: #1f7a54;
}

.submit {
  margin-top: 26px;
  height: 94px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.submit button {
  align-self: center;
  background-color: #3fd28b;
  height: 40px;
  width: 216px;
  border: none;
  box-shadow: 0px 3px 5px #0000003d;
}

.dashboard{
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;  
}

.dashboard-heading{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 1;
  height: 64px;
  background-color: #8DDC97;
}

.dashboard-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #222222;
}

.courses{
  border-bottom: 4px solid #222222;
}

.dashboard-content{
  padding-left: 16px;
  display: flex;
}

.dashboard-content > strong{
  font-size: 24px;
}

.dashboard-content > h1{
  padding-left: 2px;
}

.dashboard-menu-details{
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.dashboard-menu-details > h2{
  margin: auto 0px 0px;
}

.sort-menu{
  display: flex;
}

.sort-menu > h2{
  padding: right 6px;
}

.sort-menu > select{
 width: 165px;
 background-color: #eeeeee;
 color: #333333;
 font-size: 16px;
 border-top: none;
 border-left: none;
 border-right: none;
}

.sort-menu > img{
  margin-left: 24px;
}

.line-break{
  margin: 17px 0px;
  opacity: 0.12;
  color: #000000;
}

.courses-grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: 2;
  grid-gap: 24px;
}

.course-card{
  background-color: #FFFFFF;
  padding: 24px 24px 16px 24px;
}

.course-card-content{
  display: flex;
}

.course-card-main-content{
  padding-left: 16px;
  padding-right: 4px;
  width: 100%;
}

.grade-counter{
  color: #1F7A54;
}

.course-card-main-content > h1{
  margin: 0px;
}

.course-card-main-content > select{
  width: 100%;
  margin-top: 16px;
  font-size: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.course-subject{
  display: flex;
  padding-top: 7px;
}

.course-subject > h2{
  margin: 0px;
}

.course-information{
  display: flex;
  padding-top: 7px;
}

.course-informaton-unit{
  display: flex;
  margin-right: 8px;
}

.course-informaton-unit > h2{
  margin: 0px;
}

.course-data{
  display: flex;
}

.card-footer{
  display: flex;
  justify-content: space-around;
}

.vertical-break{
  margin-left: 8px !important;
  margin-right: 8px !important;
}

footer {
  display: flex;
  height: 74px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}

.about .details {
  font-size: 14px;
  color: #1f7a54;
}

.creds {
  height: 40px;
  width: 100%;
  background-color: #e0e1e1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creds .footerimg {
  margin: 0px 5px;
}

.creds .footertxt {
  margin: 0px 5px;
}
